.sliding-section {
    position: fixed;
    top: 3rem;
    right: -100%;
    width: 500px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow: auto;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

.sliding-content {
    padding: 20px;
}

.close-btn {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: #333;
    float: right;
}

.sliding-section.open {
    right: 0; 
}

.link {
    color: #4CAF50;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/* Table Styles */
.sliding-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.sliding-content table th, .sliding-content table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.sliding-content table th {
    background-color: #f4f4f4;
}

.cancel-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 20px;
}

.cancel-btn:hover {
    background-color: #d32f2f;
}
.sliding-content h2{
    color: #45738b;
}

.sliding-content p{
    font-size: 2rem;
    text-align: center;
}

